/* Importing Bootstrap SCSS file. */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  background-color: #171317;
}
